/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul {
	margin: 0;
    padding: 0;
    list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

legend {
	display: block;
}
/*----------END----------------------*/

:root {
    --white:#ffffff;
    --beige: #99865a;
    --dark-beige: #675a3d;
    --light-beige: #F5F6F7;
    --black: #424242;
    --dark: #333333;
    --grey: #535253;
    --light-grey: #cccccc;
}

@font-face {
    font-family: 'Quicksand_bold';
    src: url('quicksand/Quicksand_Bold.otf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Quicksand_regular';
    src: url('quicksand/Quicksand_Book.otf') format('opentype');
    font-display: swap;
}

.body {
    font-family: 'Quicksand_regular', sans-serif;
}

.header {
    background: url("resources/header-image.webp") center center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.header__block1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 65px 0 65px;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header__menu-item-link {
    color: var(--white);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.header__menu-item-link:hover {
    text-decoration: underline;
}

.header__menu-item-link:active {
    text-decoration: underline;
}

.header__cart-picture {
    height: 21px;
    width: 25px;
}

.header__down-picture {
    height: 22px;
    width: 35px;
}

.header__block2 {
    position: absolute;
    top: 38%;
    width: 100%;
    padding: 0 96px;
}

.header__header-text{
    text-align: center;
    color: var(--white);
}

.header__title {
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 60px;
    line-height: 60px;
}

.header__title-wrapper {
    margin-bottom: 10px;
}

.header__description {
    font-size: 20px;
    line-height: 24px;
}
.header__block3 {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
}

.categories-filter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 45px 96px;
    background-color: var(--light-beige);
}

.categories-filter__filter-group {
    display: flex;
    gap: 36px;
}

.categories-filter__filter-name {
    text-transform: uppercase;
    color: var(--dark);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
}

.categories-filter__filter-checkbox {
  appearance: none;
  width: 25px;
  height: 24px;
  border: none;
  border-radius: 3px;
  background-color: var(--white);
  cursor: pointer;
  margin-right: 18px;
  position: relative;
}

.categories-filter__filter-checkbox::before {
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  background: url("resources/check.svg") center center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.categories-filter__filter-checkbox:checked::before {
  display: block;
}

.categories-filter__filter-checkbox:hover {
    background-color: var(--light-grey);
}

.categories-filter__filter-checkbox:active {
    background-color: var(--light-grey);
}

.categories-filter__submit {
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 14px;
    line-height: 14px;
    background-color: var(--beige);
    padding:20px 33px 20px 33px;
    border-radius: 5px;
}

.categories-filter__submit:hover {
    background-color: var(--dark-beige);
}

.categories-filter__submit:active {
    background-color: var(--dark-beige);
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__results {
    padding: 85px 30px 130px 30px;
    display:flex;
    flex-direction: column;
    gap: 90px;
    max-width: 1148px;
    width: 100%;
}

.products__category-name-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 45px;
}

.flex-direction-wrapper {
    display:flex;
    flex-direction: row;
}

.products__pagination {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 18px;
}

.direction-arrows {
        cursor: pointer;
    }

.mix-row-reverse {
    flex-direction: row-reverse;
}

.page-counter {
    color: var(--beige);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.products__category-name {
    color: var(--black);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--light-grey);
}

.product-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.product-card {
    background-color: var(--light-beige);
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 24px;
}

.product-card:hover {
    background-color: var(--light-grey);
}

.product-card__info-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.product-card__size {
    color: var(--black);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    display:block;
}

.product-card__picture{
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 0;
}

.product-card__product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-card__color-sheet {
    display: flex;
    gap: 5px;
}

.product-card__product-color {
    width: 22px;
    height: 21px;
    border-radius: 50%;
    cursor: pointer;
}

.product-card__product-color_blue {
    background-color: #165EB9;
}
.product-card__product-color_yellow {
    background-color: #FFE637;
}
.product-card__product-color_gray {
    background-color: #535253;
}
.product-card__product-color_pink {
    background-color: #D3A7AC;
}
.product-card__product-color_white {
    background-color: #FFFFFF;
}

.product-card__type {
    color: var(--beige);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    display:block;
}

.product-card__price {
    color: var(--black);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    display:block;
}

.about-us {
    background-color: var(--beige);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 20px;
}

.about-us__text-block {
    border:2px solid var(--dark-beige);
    height: 250px;
    max-width: 710px;
    width:100%;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.about-us__title {
    text-transform: uppercase;
    color: var(--dark-beige);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top:-10px;
    background-color: var(--beige);
    padding-left: 10px;
    padding-right: 10px;
}

.about-us__description {
    color: var(--black);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.advertisement {
    padding: 24px 70px;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    gap: 20px;
}

.advertisement__description {
    color: var(--white);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.footer {
    background-color: var(--black);
}

.footer__wrapper {
    padding: 104px 65px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.trekking-info {
    width: 318px;
}

.trekking-info__title {
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 20px;
    line-height: 20px;
}

.trekking-info__title-wrapper {
    margin-bottom: 10px;
}

.trekking-info__description {
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 10px;
    line-height: 20px;
}

.footer__menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.footer__menu {
    margin-bottom: 10px;
}

.footer__menu-item:not(:last-child)::after {
    content: '|';
    margin: 0 5px;
    color: var(--beige);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.footer__menu-item-link {
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 14px;
    line-height: 14px;
}

.footer__menu-item-link:hover {
    text-decoration: underline;
}

.footer__menu-item-link:active {
    text-decoration: underline;
}

.design-credit {
    display: block;
    text-align: right;
    color: var(--white);
    font-family: 'Quicksand_bold', sans-serif;
    font-size: 18px;
    line-height: 18px;
}


@media (max-width: 1200px) {
    .products__results {
        max-width: 764px;
        width: 100%;
    }
}

@media (max-width: 861px) {
    .products__results {
        max-width: 380px;
        width: 100%;
    }
    .product-cards {
        justify-content: center;
    }
}

@media (max-width: 805px) {
    .categories-filter {
        flex-direction: column;
        gap: 20px;
    }
    .categories-filter__filter-group {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 780px) {
    .header__logo-picture {
        width: 120px;
        height: 90px;
    }

    

    .footer__wrapper {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 50px 65px;
    }

    .trekking-info {
        width: 100%;
    }

    .trekking-info__title {
        text-align: center;
    }

    .trekking-info__description {
        text-align: center;
        font-size: 14px;
    }

    .design-credit {
        text-align: center;
    }
}

@media (max-width: 769px) {
    .header {
        background: url("resources/header-image-768px.webp") center center no-repeat;
        background-size: cover;
    }
    .header__block1 {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 40px 30px 0 30px;
    }
    .header__menu-list {
        gap: 25px;
    }
    
    .header__block2 {
        padding: 0 30px;
    }
    .header__title {
        font-size: 30px;
        line-height: 30px;
    }
    .header__description {
        font-size: 16px;
        line-height: 20px;
    }
    .advertisement {
        padding: 24px 20px;
    }

}

@media (max-width: 426px) {
    .header {
        background: url("resources/header-image-451px.webp") center center no-repeat;
        background-size: cover;
    }
    .categories-filter {
        padding: 45px 30px;
    }
    .footer__menu-list {
        justify-content: center;
    }
    .footer__menu-item:not(:last-child)::after {
        content: '';
        margin: 0;
    }

}
